import 'package:{{packageName}}/app/app.dart';
import 'package:{{packageName}}/core/core.dart';

Future<void> main() async {
  WidgetsFlutterBinding.ensureInitialized();
  await setupLocator();
  runApp(
    const ProviderScope(
      child: {{appClassName}}(),
    ),
  );
}
