import 'package:{{packageName}}/core/core.dart';
import 'package:{{packageName}}/core/router/app_router.dart';

class {{appClassName}} extends StatelessWidget {
  const {{appClassName}}({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp.router(
      title: '{{appTitle}}',
      debugShowCheckedModeBanner: false,
      theme: buildAppTheme(),
{{l10nDelegates}}      routerConfig: appRouter,
    );
  }
}
