import 'package:go_router/go_router.dart';
{{routerLoggingImports}}import 'app_routes.dart';
import 'package:{{packageName}}/features/features.dart';

final GoRouter appRouter = GoRouter(
  initialLocation: AppRoutes.splash,
{{routerObservers}}  routes: [
    GoRoute(
      path: AppRoutes.splash,
      builder: (context, state) => const SplashView(),
    ),
    GoRoute(
      path: AppRoutes.home,
      builder: (context, state) => const HomeView(),
    ),
{{authRouteBlock}}  ],
);
