export 'package:flutter/material.dart';
export 'package:flutter/services.dart';
export 'package:flutter_riverpod/flutter_riverpod.dart';
export 'package:flutter_svg/flutter_svg.dart';
export 'package:get_it/get_it.dart';
export 'package:go_router/go_router.dart';
{{dioExport}}{{talkerExport}}{{secureStorageExport}}{{flutterLocalizationsExport}}{{l10nCoreExport}}
{{errorExport}}{{networkExport}}{{loggingExport}}{{configExport}}export 'theme/theme.dart';
export 'locator/locator.dart';
export 'router/router.dart';
export 'utils/utils.dart';
